@model WebAppChamadosTI.Models.DentistaViewModel

@{
    ViewData["Title"] = "Alterar Dentista";
    bool isAtendente = User.IsInRole("Atendente");
    var usuarioLogadoId = int.Parse(User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value ?? "0");
}

<h2>Dados do Dentista</h2>

<form asp-action="Alterar" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Nome"></label>
        <input asp-for="Nome" class="form-control" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="Telefone"></label>
        <input asp-for="Telefone" class="form-control" />
        <span asp-validation-for="Telefone" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DataNascimento">Data de Nascimento</label>
        <input asp-for="DataNascimento" class="form-control" type="date" />
        <span asp-validation-for="DataNascimento" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Endereco">Endereço</label>
        <input asp-for="Endereco" class="form-control" />
        <span asp-validation-for="Endereco" class="text-danger"></span>
    </div>

@*     <div class="form-group">
        <label>Procedimentos</label>
        @foreach (var procedimento in Model.ProcedimentosDisponiveis)
        {
            <div class="form-check">
                <input type="checkbox"
                       class="form-check-input"
                       name="ProcedimentosIds"
                       value="@procedimento.Value"
                       @(Model.ProcedimentosIds.Contains(int.Parse(procedimento.Value)) ? "checked" : "") />
                <label class="form-check-label">@procedimento.Text</label>
            </div>
        }
    </div> *@

    <button type="submit" class="btn btn-success">Salvar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
