@model WebAppChamadosTI.Models.DentistaViewModel

@{
    ViewData["Title"] = "Alterar Dentista";
    bool isAtendente = User.IsInRole("Atendente");
    var usuarioLogadoId = int.Parse(User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value ?? "0");
    bool ehMesmoUsuario = usuarioLogadoId == Model.Id;
}

<h2>Editar Dados</h2>

<form asp-action="Alterar" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />

    <div class="form-group mb-3">
        <label asp-for="Nome"></label>
        <input asp-for="Nome" class="form-control" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="EspecializacaoId" class="control-label">Especialização</label>
        <select asp-for="EspecializacaoId" class="form-control" asp-items="Model.EspecializacoesDisponiveis">
            <option value="">---Selecione uma especialização---</option>
        </select>
        <span asp-validation-for="EspecializacaoId" class="text-danger"></span>
    </div>


    <div class="form-group mb-3">
        <label asp-for="Telefone"></label>
        <input asp-for="Telefone" class="form-control" />
        <span asp-validation-for="Telefone" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="DataNascimento">Data de Nascimento</label>
        <input asp-for="DataNascimento" class="form-control" type="date" />
        <span asp-validation-for="DataNascimento" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Endereco">Endereço</label>
        <input asp-for="Endereco" class="form-control" />
        <span asp-validation-for="Endereco" class="text-danger"></span>
    </div>

    <div class="form-group p-2">
        <input type="submit" value="Salvar" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Voltar</a>

    @if (ehMesmoUsuario && !isAtendente)
    {
        <div class="mt-3">
            <a class="btn btn-warning" asp-area="" asp-controller="Conta" asp-action="AlterarSenha">
                🔐 Alterar minha senha
            </a>
        </div>
    }
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
