@model WebAppChamadosTI.Models.Chamado

@{
    ViewData["Title"] = "Alterar";
}

<h1>Alterar</h1>

<h4>Chamado</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Alterar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group mb-3">
                <label class="form-label fw-bold text-primary">Data de Solicitação</label>
                <div class="form-control-plaintext bg-light border rounded px-3 py-2 shadow-sm">
                    @Model.DataSolicitacao.ToString("dd/MM/yyyy HH:mm")
                </div>

            </div>

            <div class="form-group">
                <label asp-for="Problema" class="form-label fw-bold text-primary"></label>
                <textarea asp-for="Problema" class="form-control shadow-sm rounded"></textarea>
                <span asp-validation-for="Problema" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Ocorrencia" class="form-label fw-bold text-primary"></label>
                <textarea asp-for="Ocorrencia" class="form-control shadow-sm rounded"></textarea>
                <span asp-validation-for="Ocorrencia" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ValorTotal" class="form-label fw-bold text-primary"></label>
                <input asp-for="ValorTotal" class="form-control shadow-sm rounded" />
                <span asp-validation-for="ValorTotal" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ClienteId" class="form-label fw-bold text-primary">Cliente</label>
                <select asp-for="ClienteId" class="form-control shadow-sm rounded" asp-items="ViewBag.Clientes"></select>
                <span asp-validation-for="ClienteId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TecnicoId" class="form-label fw-bold text-primary">Técnico</label>
                <select asp-for="TecnicoId" class="form-control shadow-sm rounded" asp-items="ViewBag.Tecnicos"></select>
                <span asp-validation-for="TecnicoId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Concluido" /> @Html.DisplayNameFor(model => model.Concluido)
                </label>
            </div>

            <div class="form-group p-2">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
