@model WebAppChamadosTI.Models.Usuario
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Detalhes do Usuário";
}

<h2>Detalhes do Usuário</h2>

<div>
    <dl class="row">
        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.Email</dd>

        <dt class="col-sm-2">Perfil</dt>
        <dd class="col-sm-10">@Model.Perfil.ToString()</dd>
    </dl>
</div>

<a asp-action="Alterar" asp-route-id="@Model.Id" class="btn btn-primary">Alterar</a>
<a asp-action="Index" class="btn btn-secondary">Voltar</a>
