@model WebAppChamadosTI.Models.AlterarSenhaViewModel

@{
    ViewData["Title"] = "Alterar Senha";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-center mt-5">
    <div class="col-md-6 border rounded p-4 shadow-sm bg-white">
        <h2 class="text-center mb-4">Alterar Senha</h2>

        <form asp-action="AlterarSenha" method="post">
            <div class="form-group mb-3">
                <label asp-for="SenhaAtual" class="form-label">Senha atual</label>
                <input asp-for="SenhaAtual" class="form-control" type="password" />
                <span asp-validation-for="SenhaAtual" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="NovaSenha" class="form-label">Nova senha</label>
                <input asp-for="NovaSenha" class="form-control" type="password" />
                <span asp-validation-for="NovaSenha" class="text-danger"></span>
            </div>

            <div class="form-group mb-4">
                <label asp-for="ConfirmarNovaSenha" class="form-label">Nova senha</label>
                <input asp-for="ConfirmarNovaSenha" class="form-control" type="password" />
                <span asp-validation-for="ConfirmarNovaSenha" class="text-danger"></span>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary me-2">Salvar</button>

                @if (User.IsInRole("Dentista"))
                {
                    <a asp-area="Admin" asp-controller="Dentistas" asp-action="Index" class="btn btn-secondary">Voltar</a>
                }
                else if (User.IsInRole("Paciente"))
                {
                    <a asp-area="Admin" asp-controller="Pacientes" asp-action="Index" class="btn btn-secondary">Voltar</a>
                }
            </div>


        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
